body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9b9b9b;
}

.App {
  margin: auto;
  background: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80vw;
  padding: 10px 20px;
  margin: 10px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 40px;
}

.mt-4 {
  margin-top: 1.5rem;
}

button {
  width: 100%;
}
